* {
  box-sizing: border-box;
}

.menu {
  position: fixed;
  top: var(--header-height);
  right: 0;
  bottom: 0;
  width: 200px;
  background-color: var(--panel-selected-color);
  z-index: 1000;
  color: white;
}
.menu.footer-fixed {
  bottom: var(--footer-height);
}
