@import './variables.css';

html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 16px; 
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: inherit;
}