* {
  box-sizing: border-box;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  min-height: var(--footer-height);
  max-height: var(--footer-height);
  background-color: var(--panel-primary-color);
  width: 100%;
  color: #DDD;
  font-size: .8rem;
}
.footer.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.social {
  display: flex;
}
.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--footer-height);
  width: var(--footer-height);
}
.social a svg {
  width: 60%;
  height: 60%;
  fill: #DDD;
}
.social a:hover svg {
  fill: #BBB;
}